In [95]:
import pandas as pd

In [132]:
imported_data = pd.read_excel('./Activity_Recognition_DataSet/Pocket.xlsx')

In [133]:
imported_data

,Time_Stamp,Ax,Ay,Az,Gx,Gy,Gz,Mx,My,Mz,Activity_Label
0,1364400000000,0.231546,-9.329938,-3.023717,0.275195,-0.111788,0.019242,-19.680000,29.640000,-6.60,Downstairs
1,1364400000020,1.048767,-8.853226,-1.225831,0.801150,1.128879,0.011912,-19.619999,29.400000,-6.72,Downstairs
2,1364400000040,0.939804,-9.507003,-2.043052,0.807258,1.709201,-0.032376,-19.680000,29.340000,-6.96,Downstairs
3,1364400000060,0.640156,-9.833891,-2.152015,0.602008,2.062892,0.003665,-19.859999,29.220000,-7.14,Downstairs
4,1364400000080,0.027241,-9.248216,-1.321174,0.629802,2.191174,0.159741,-19.680000,29.039999,-7.98,Downstairs
...,...,...,...,...,...,...,...,...,...,...,...
161953,1364300139920,-2.601486,-4.426613,-2.369940,0.816727,-1.472491,0.100182,9.059999,35.940000,0.84,Walking
161954,1364300139940,-3.064578,-7.041720,-5.992953,1.326188,-1.075123,0.084299,9.059999,36.180000,1.02,Walking
161955,1364300139960,-4.903325,-15.363752,-14.900661,0.638049,-0.222966,0.208610,9.120000,36.180000,1.08,Walking
161956,1364300139980,-4.290410,-17.624730,-11.699879,-0.365603,-0.474948,0.528093,9.240000,36.360000,0.96,Walking
161957,1364300140000,-5.924851,-11.863323,-7.790839,-0.289245,-1.260826,0.262977,9.300000,36.480000,1.02,Walking

In [134]:
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

# encoded_data = imported_data
# le = preprocessing.LabelEncoder()
# le.fit(imported_data.Activity_Label)
# encoded_data['Activity_Label'] = le.transform(imported_data.Activity_Label)
# re process le.inverse_transform(df['categorical_label'])

In [143]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(imported_data[['Ax', 'Ay', 'Az', 'Gx' ,'Gy', 'Gz']], imported_data['Activity_Label'], test_size=0.3, random_state=0)

In [144]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
model = gnb.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.6671400345764387

In [152]:
from sklearn import tree
decisionTree = tree.DecisionTreeClassifier(max_depth=20)
decisionTree = decisionTree.fit(X_train, y_train,)
y_pred = decisionTree.predict(X_test)
accuracy_score(y_test, y_pred)

0.8411747756647732

In [138]:
#tree.export_text(decisionTree)
from IPython.display import display
import graphviz
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier,export_graphviz

#display(graphviz.Source(export_graphviz(decisionTree)))

In [139]:
imported_data['Activity_Label'].unique()

array(['Downstairs', 'Running', 'Sitting', 'Standing', 'Upstairs',
       'Walking'], dtype=object)

In [153]:
import joblib
joblib.dump(decisionTree, 'decision_tree.pkl', compress=9)

['decision_tree.pkl']

In [141]:
decisionTree.predict(X_test.iloc[[1]].values)

/Users/larsnolden/opt/anaconda3/envs/activity_classification/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Walking'], dtype=object)

In [142]:
X_test.iloc[[1]].values

array([[-4.6445384, -7.0553403, -4.576437 ,  1.3020593, -1.1472049,
         0.2733622, 21.66     , 18.359999 , 24.66     ]])

In [156]:
imported_data.head(4)

,Time_Stamp,Ax,Ay,Az,Gx,Gy,Gz,Mx,My,Mz,Activity_Label
0,1364400000000,0.231546,-9.329938,-3.023717,0.275195,-0.111788,0.019242,-19.680000,29.64,-6.60,Downstairs
1,1364400000020,1.048767,-8.853226,-1.225831,0.801150,1.128879,0.011912,-19.619999,29.40,-6.72,Downstairs
2,1364400000040,0.939804,-9.507003,-2.043052,0.807258,1.709201,-0.032376,-19.680000,29.34,-6.96,Downstairs
3,1364400000060,0.640156,-9.833891,-2.152015,0.602008,2.062892,0.003665,-19.859999,29.22,-7.14,Downstairs